<p>
  <b>Section:</b>
  <%=h @join_section.section %>
</p>

<p>
  <b>Student:</b>
  <%=h @join_section.student %>
</p>


<%= link_to 'Edit', edit_join_section_path(@join_section) %> |
<%= link_to 'Back', join_sections_path %>